<a href="https://colab.research.google.com/github/mchen899923/SQL-Lab-1/blob/main/Copy_of_superhero_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Superhero Database Assignment (SQLite & Google Colab)

## Objective
In this assignment, you will design and implement a **Superhero Database** using SQLite in Google Colab. This database will store superheroes, villains, and their battles. You will write SQL queries to analyze battle outcomes and relationships between heroes and villains.

### Group Size:
- 2 to 3 students per group.

### Tools Required:
- **Google Colab**
- **SQLite (built into Python)**
- **CSV files (provided for import)**

**Team Members: Mackenzie Chen, Lynni Do, Eujine Kim**

Importing CSV file

In [ ]:
! git clone https://github.com/lynnido/DS-2002

Cloning into 'DS-2002'...
remote: Enumerating objects: 18, done.
remote: Counting objects: 100% (18/18), done.
remote: Compressing objects: 100% (16/16), done.
remote: Total 18 (delta 3), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (18/18), 10.75 KiB | 3.58 MiB/s, done.
Resolving deltas: 100% (3/3), done.

Establishing sqlite3 connection

In [ ]:
import sqlite3

connection = sqlite3.connect('superhero_db.sqlite')

print("Database created and connected!")

Database created and connected!

In [ ]:
cursor = connection.cursor()

print("Cursor created!")

Cursor created!

## Step 1: Setting Up Your SQLite Database

### Tasks:
1. Initialize SQLite in Google Colab.
2. Create a database named `superhero_db.sqlite`.
3. Define the database schema, ensuring it includes the following tables:
   - `heroes`: Stores superhero names, powers, and teams.
   - `villains`: Stores villains and their evil plans.
   - `battles`: Tracks battles between heroes and villains, including the outcome.
4. Implement primary keys and foreign keys where appropriate.

✅ **Checkpoint:** Ensure that the database and tables have been successfully created.

In [ ]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS heroes (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    power TEXT NOT NULL,
    team TEXT NOT NULL
)
''')

print("Heros table created!")

Heros table created!

In [ ]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS villains (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    evil_plan TEXT NOT NULL
)
''')

print("Villains table created!")

Villains table created!

In [ ]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS battles (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    hero_id INTEGER,
    villain_id INTEGER,
    outcome TEXT NOT NULL,
    FOREIGN KEY (hero_id) REFERENCES heroes(id),
    FOREIGN KEY (villain_id) REFERENCES villains(id)
)
''')

print("Battles table created!")

Battles table created!

## Step 2: Import Data from CSV Files

### Tasks:
1. Download the provided CSV files.
2. Upload them to Google Colab.
3. Write a script to import data from these files into the appropriate tables.
4. Verify that the data has been successfully inserted.

✅ **Checkpoint:** Ensure that each table contains the expected data from the CSV files.

In [ ]:
import pandas as pd

hero_data = pd.read_csv('DS-2002/heroes.csv')
villains_data = pd.read_csv('DS-2002/villains.csv')
battles_data = pd.read_csv('DS-2002/battles.csv')

print(hero_data.head())
print(villains_data.head())
print(battles_data.head())

   id        name             power            team
0   1  Spider-Man      Web-slinging        Avengers
1   2    Iron Man     Powered Armor        Avengers
2   3      Batman  Genius Detective  Justice League
3   4    Superman    Super Strength  Justice League
4   5        Thor    God of Thunder        Avengers
   id          name                           evil_plan
0   1  Green Goblin                  Terrorize New York
1   2        Thanos         Collect all Infinity Stones
2   3         Joker              Spread chaos in Gotham
3   4    Lex Luthor                     Defeat Superman
4   5          Loki  Trick humanity into worshiping him
   id  hero_id  villain_id       outcome
0   1        1          10  Villain Wins
1   2        9           3     Hero Wins
2   3        8           1          Draw
3   4        5           4  Villain Wins
4   5        1           7     Hero Wins

Inserting heroes.csv into heroes table

In [ ]:
hero_data.to_sql('heroes', connection, if_exists='replace', index=False)

print("Data from CSV has been inserted into the superhero table.")

Data from CSV has been inserted into the superhero table.

Inserting villains.csv into villains table

In [ ]:
villains_data.to_sql('villains', connection, if_exists='replace', index=False)

print("Data from CSV has been inserted into the superhero table.")

Data from CSV has been inserted into the superhero table.

Inserting battles.csv into battles table

In [ ]:
battles_data.to_sql('battles', connection, if_exists='replace', index=False)

print("Data from CSV has been inserted into the superhero table.")

Data from CSV has been inserted into the superhero table.

## Step 3: Querying the Database

### Tasks:
Write SQL queries to answer the following:
1. Retrieve all superheroes and their powers.
2. Find all battles where the hero won.
3. List all villains and their evil plans.
4. Determine which superhero has fought the most battles.

✅ **Checkpoint:** Ensure that all queries return meaningful results from the database.

In [ ]:
cursor.execute("SELECT name, power FROM heroes")
rows = cursor.fetchall()

print("All superheroes and their powers:")
for row in rows:
    print(row)

All superheroes and their powers:
('Spider-Man', 'Web-slinging')
('Iron Man', 'Powered Armor')
('Batman', 'Genius Detective')
('Superman', 'Super Strength')
('Thor', 'God of Thunder')
('Wonder Woman', 'Amazonian Strength')
('Black Panther', 'Enhanced Agility')
('The Flash', 'Super Speed')
('Hulk', 'Super Strength')
('Doctor Strange', 'Mystic Arts')

In [ ]:
cursor.execute("SELECT * FROM Battles where outcome ='Hero Wins'")
rows = cursor.fetchall()

print("Hero Wins:")
for row in rows:
    print(row)

Hero Wins:
(2, 9, 3, 'Hero Wins')
(5, 1, 7, 'Hero Wins')
(7, 9, 8, 'Hero Wins')
(8, 3, 2, 'Hero Wins')
(9, 7, 5, 'Hero Wins')
(13, 8, 9, 'Hero Wins')
(20, 3, 4, 'Hero Wins')
(29, 3, 5, 'Hero Wins')
(30, 5, 5, 'Hero Wins')

In [ ]:
cursor.execute("SELECT name, evil_plan FROM villains")
rows = cursor.fetchall()

print("Villains and Their Evil Plans:")
for row in rows:
    print(row)

Villains and Their Evil Plans:
('Green Goblin', 'Terrorize New York')
('Thanos', 'Collect all Infinity Stones')
('Joker', 'Spread chaos in Gotham')
('Lex Luthor', 'Defeat Superman')
('Loki', 'Trick humanity into worshiping him')
('Ultron', 'AI world domination')
('Darkseid', 'Control the universe')
('Venom', 'Consume Spider-Man')
('Magneto', 'Mutant supremacy')
('Red Skull', 'Revive Hydra')

In [ ]:
cursor.execute("SELECT heroes.name, COUNT(battles.id) AS battle_count FROM battles JOIN heroes ON battles.hero_id = hero_id GROUP BY heroes.name ORDER BY battle_count ASC LIMIT 1")
rows = cursor.fetchall()

print("Hero with most Battles:")
for row in rows:
    print(row)

Hero with most Battles:
('Batman', 30)

## Step 4: Add a Custom Feature

### Tasks:
1. Design and implement an additional table related to superheroes or villains.
2. Populate it with data.
3. Write at least one query to retrieve meaningful insights from the new table.

**Examples of Custom Features:**
- Sidekicks for superheroes
- Villain hideouts
- Battle locations
- Superhero equipment

✅ **Checkpoint:** Ensure that the new table and queries function correctly.

In [ ]:
cursor.execute("DROP TABLE IF EXISTS sidekicks")

cursor.execute('''
CREATE TABLE IF NOT EXISTS sidekicks (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    power TEXT NOT NULL,
    team TEXT NOT NULL,
    sidekick TEXT NOT NULL
)
''')

print("Sidekicks table created!")

Sidekicks table created!

In [ ]:
sidekick_data = [
    ('Spider-Man', 'Web-slinging', 'Avengers', 'Garfield'),
    ('Iron Man', 'Powered Armor', 'Avengers', 'Robin'),
    ('Batman', 'Genius Detective', 'Justice League', 'Kirby'),
    ('Superman', 'Super Strength', 'Justice League', 'Muffin Man'),
    ('Thor', 'God of Thunder', 'Avengers', 'Sonic'),
    ('Wonder Woman', 'Amazonian Strength', 'Justice League', 'Talking Tom'),
    ('Black Panther', 'Enhanced Agility', 'Avengers', 'Pikachu'),
    ('The Flash', 'Super Speed', 'Justice League', 'Spongebob'),
    ('Hulk', 'Super Strength', 'Avengers', 'Snoopy'),
    ('Doctor Strange', 'Mystic Arts', 'Avengers', 'Bluey')
]

cursor.executemany('''
INSERT INTO sidekicks (name, power, team, sidekick) VALUES (?, ?, ?, ?)
''', sidekick_data)

# Commit the transaction
connection.commit()

print("Data inserted into the sidekick details table!")

Data inserted into the sidekick details table!

In [ ]:
cursor.execute("SELECT * FROM sidekicks")
rows = cursor.fetchall()

# Print the results
print("All sidekick data:")
for row in rows:
    print(row)

All sidekick data:
(1, 'Spider-Man', 'Web-slinging', 'Avengers', 'Garfield')
(2, 'Iron Man', 'Powered Armor', 'Avengers', 'Robin')
(3, 'Batman', 'Genius Detective', 'Justice League', 'Kirby')
(4, 'Superman', 'Super Strength', 'Justice League', 'Muffin Man')
(5, 'Thor', 'God of Thunder', 'Avengers', 'Sonic')
(6, 'Wonder Woman', 'Amazonian Strength', 'Justice League', 'Talking Tom')
(7, 'Black Panther', 'Enhanced Agility', 'Avengers', 'Pikachu')
(8, 'The Flash', 'Super Speed', 'Justice League', 'Spongebob')
(9, 'Hulk', 'Super Strength', 'Avengers', 'Snoopy')
(10, 'Doctor Strange', 'Mystic Arts', 'Avengers', 'Bluey')

In [ ]:
cursor.close()

print("Cursor closed!")

Cursor closed!

## Submission Guidelines

Each group must submit a **Google Colab Notebook (.ipynb)** containing:
- ✅ **Database schema (DDL)**
- ✅ **CSV imports & data insertion (DML)**
- ✅ **SQL queries & results**
- ✅ **Custom feature (bonus if applicable)**

## Grading Criteria (Total: 25 Points)

| Section                 | Points |
|-------------------------|--------|
| Database Setup          | 5      |
| Data Importing         | 10     |
| Querying the Data      | 10     |
| Extra Feature          | 5      |
| Bonus Challenge (Optional) | +5  |

### Final Notes:
- Be **creative** when designing superheroes and villains.
- **Comment your code** to explain its functionality.
- **Have fun** building your superhero universe!